<?xml version="1.0" encoding="UTF-8"?>
<web-app version="5.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd">
    <servlet>
        <servlet-name>AjoutMatiereController</servlet-name>
        <servlet-class>controller.AjoutMatiereController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjoutLookController</servlet-name>
        <servlet-class>controller.AjoutLookController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjoutTypeController</servlet-name>
        <servlet-class>controller.AjoutTypeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjoutTailleController</servlet-name>
        <servlet-class>controller.AjoutTailleController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjoutLookParMatiereController</servlet-name>
        <servlet-class>controller.AjoutLookParMatiereController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EnvoyerLoolController</servlet-name>
        <servlet-class>controller.EnvoyerLoolController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EnvoyerMatiereController</servlet-name>
        <servlet-class>controller.EnvoyerMatiereController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjoutProfilController</servlet-name>
        <servlet-class>controller.AjoutProfilController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjoutEmployeController</servlet-name>
        <servlet-class>controller.AjoutEmployeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EnvoyerTypeAndLookController</servlet-name>
        <servlet-class>controller.EnvoyerTypeAndLookController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjoutProduitController</servlet-name>
        <servlet-class>controller.AjoutProduitController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EnvoyerMatierePrixController</servlet-name>
        <servlet-class>controller.EnvoyerMatierePrixController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjoutMatierePrixController</servlet-name>
        <servlet-class>controller.AjoutMatierePrixController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EnvoyerProduitAndTailleController</servlet-name>
        <servlet-class>controller.EnvoyerProduitAndTailleController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjoutEntreeDeStockParMatiereController</servlet-name>
        <servlet-class>controller.AjoutEntreeDeStockParMatiereController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjoutGenreController</servlet-name>
        <servlet-class>controller.AjoutGenreController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EnvoyerGenreController</servlet-name>
        <servlet-class>controller.EnvoyerGenreController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjoutClientController</servlet-name>
        <servlet-class>controller.AjoutClientController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjoutVenteController</servlet-name>
        <servlet-class>controller.AjoutVenteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EnvoyerProduitAndClientController</servlet-name>
        <servlet-class>controller.EnvoyerProduitAndClientController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EnvoyerStockMatiereEntree</servlet-name>
        <servlet-class>controller.EnvoyerStockMatiereEntree</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EnvoyerLookVersListeMatiereController</servlet-name>
        <servlet-class>controller.EnvoyerLookVersListeMatiereController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AfficheMatiereParLookController</servlet-name>
        <servlet-class>controller.AfficheMatiereParLookController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Ajax</servlet-name>
        <servlet-class>controller.Ajax</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RecupererMatieresServlet</servlet-name>
        <servlet-class>controller.RecupererMatieresServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjoutNouvelleFormuleController</servlet-name>
        <servlet-class>controller.AjoutNouvelleFormuleController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EnvoyerMatiereVersListeSacController</servlet-name>
        <servlet-class>controller.EnvoyerMatiereVersListeSacController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AfficheSacParMatiereController</servlet-name>
        <servlet-class>controller.AfficheSacParMatiereController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TraitementMontantController</servlet-name>
        <servlet-class>controller.TraitementMontantController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjoutFabricationSacController</servlet-name>
        <servlet-class>controller.AjoutFabricationSacController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EnvoyerProduitAndTailleVersInsertSacController</servlet-name>
        <servlet-class>controller.EnvoyerProduitAndTailleVersInsertSacController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EnvoyerNouvelleFormuleController</servlet-name>
        <servlet-class>controller.EnvoyerNouvelleFormuleController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AjoutMatiereController</servlet-name>
        <url-pattern>/AjoutMatiereController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjoutLookController</servlet-name>
        <url-pattern>/AjoutLookController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjoutTypeController</servlet-name>
        <url-pattern>/AjoutTypeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjoutTailleController</servlet-name>
        <url-pattern>/AjoutTailleController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjoutLookParMatiereController</servlet-name>
        <url-pattern>/AjoutLookParMatiereController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EnvoyerLoolController</servlet-name>
        <url-pattern>/EnvoyerLoolController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EnvoyerMatiereController</servlet-name>
        <url-pattern>/EnvoyerMatiereController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjoutProfilController</servlet-name>
        <url-pattern>/AjoutProfilController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjoutEmployeController</servlet-name>
        <url-pattern>/AjoutEmployeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EnvoyerTypeAndLookController</servlet-name>
        <url-pattern>/EnvoyerTypeAndLookController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjoutProduitController</servlet-name>
        <url-pattern>/AjoutProduitController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EnvoyerMatierePrixController</servlet-name>
        <url-pattern>/EnvoyerMatierePrixController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjoutMatierePrixController</servlet-name>
        <url-pattern>/AjoutMatierePrixController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EnvoyerProduitAndTailleController</servlet-name>
        <url-pattern>/EnvoyerProduitAndTailleController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjoutEntreeDeStockParMatiereController</servlet-name>
        <url-pattern>/AjoutEntreeDeStockParMatiereController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjoutGenreController</servlet-name>
        <url-pattern>/AjoutGenreController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EnvoyerGenreController</servlet-name>
        <url-pattern>/EnvoyerGenreController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjoutClientController</servlet-name>
        <url-pattern>/AjoutClientController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjoutVenteController</servlet-name>
        <url-pattern>/AjoutVenteController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EnvoyerProduitAndClientController</servlet-name>
        <url-pattern>/EnvoyerProduitAndClientController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EnvoyerStockMatiereEntree</servlet-name>
        <url-pattern>/EnvoyerStockMatiereEntree</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EnvoyerLookVersListeMatiereController</servlet-name>
        <url-pattern>/EnvoyerLookVersListeMatiereController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AfficheMatiereParLookController</servlet-name>
        <url-pattern>/AfficheMatiereParLookController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Ajax</servlet-name>
        <url-pattern>/Ajax</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RecupererMatieresServlet</servlet-name>
        <url-pattern>/RecupererMatieresServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjoutNouvelleFormuleController</servlet-name>
        <url-pattern>/AjoutNouvelleFormuleController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EnvoyerMatiereVersListeSacController</servlet-name>
        <url-pattern>/EnvoyerMatiereVersListeSacController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AfficheSacParMatiereController</servlet-name>
        <url-pattern>/AfficheSacParMatiereController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TraitementMontantController</servlet-name>
        <url-pattern>/TraitementMontantController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjoutFabricationSacController</servlet-name>
        <url-pattern>/AjoutFabricationSacController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EnvoyerProduitAndTailleVersInsertSacController</servlet-name>
        <url-pattern>/EnvoyerProduitAndTailleVersInsertSacController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EnvoyerNouvelleFormuleController</servlet-name>
        <url-pattern>/EnvoyerNouvelleFormuleController</url-pattern>
    </servlet-mapping>
</web-app>
